USE [YETISQLDW01]
GO
/****** Object:  StoredProcedure [EDW].[SP_SALESREP_DIM]    Script Date: 10/18/2018 11:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [EDW].[SP_SALESREP_DIM] AS

if object_id('EDW.SALESREP_DIM') is not null begin 
DROP TABLE EDW.SALESREP_DIM end;

CREATE TABLE EDW.SALESREP_DIM WITH (DISTRIBUTION = ROUND_ROBIN ) AS 
(
select distinct SalesRepID,Name,Zregion 
from EDW_TZ.SAP_SALESREP_DIM
);
GO
