USE [YETISQLDW01]
GO
/****** Object:  StoredProcedure [EDW_SZ].[Sp_NST_Customers]    Script Date: 10/18/2018 11:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [EDW_SZ].[Sp_NST_Customers] AS

if object_id('EDW_RZ.NST_Customers') is not null begin
Drop EXTERNAL TABLE EDW_RZ.NST_Customers end;
CREATE EXTERNAL TABLE EDW_RZ.NST_Customers
(
ACCOUNTNUMBER VARCHAR(1000) NULL,
ALCOHOL_RECIPIENT_TYPE VARCHAR(1000) NULL,
ALLOW_TASK_TIME_FOR_ALLOCATION VARCHAR(1000) NULL,
ALTEMAIL VARCHAR(1000) NULL,
ALTERNATE_CONTACT_ID VARCHAR(1000) NULL,
ALTPHONE VARCHAR(1000) NULL,
AMOUNT_COMPLETE VARCHAR(1000) NULL,
ANNUAL_REVENUE VARCHAR(1000) NULL,
BILLADDRESS VARCHAR(1000) NULL,
BILLING_RATE_CARD_ID VARCHAR(1000) NULL,
BILLING_SCHEDULE_ID VARCHAR(1000) NULL,
BILLING_SCHEDULE_TYPE VARCHAR(1000) NULL,
BILLING_TRANSACTION_TYPE VARCHAR(1000) NULL,
CALCULATED_END VARCHAR(1000) NULL,
CATEGORY_0 VARCHAR(1000) NULL,
CITY VARCHAR(1000) NULL,
COMPANYNAME VARCHAR(1000) NULL,
CONSOL_DAYS_OVERDUE VARCHAR(1000) NULL,
CONSOL_DEPOSIT_BALANCE VARCHAR(1000) NULL,
CONSOL_DEPOSIT_BALANCE_FOREIGN VARCHAR(1000) NULL,
CONSOL_OPENBALANCE VARCHAR(1000) NULL,
CONSOL_OPENBALANCE_FOREIGN VARCHAR(1000) NULL,
CONSOL_UNBILLED_ORDERS VARCHAR(1000) NULL,
CONSOL_UNBILLED_ORDERS_FOREIGN VARCHAR(1000) NULL,
CONVERTED_TO_CONTACT_ID VARCHAR(1000) NULL,
CONVERTED_TO_ID VARCHAR(1000) NULL,
COST_ESTIMATE VARCHAR(1000) NULL,
COUNTRY VARCHAR(1000) NULL,
CREATE_DATE VARCHAR(1000) NULL,
CREDITHOLD VARCHAR(1000) NULL,
CREDITLIMIT VARCHAR(1000) NULL,
CURRENCY_ID VARCHAR(1000) NULL,
CUSTOMER_EXTID VARCHAR(1000) NULL,
CUSTOMER_ID VARCHAR(1000) NULL,
CUSTOMER_TYPE_ID VARCHAR(1000) NULL,
DATE_CLOSED VARCHAR(1000) NULL,
DATE_CONVSERSION VARCHAR(1000) NULL,
DATE_FIRST_ORDER VARCHAR(1000) NULL,
DATE_FIRST_SALE VARCHAR(1000) NULL,
DATE_GROSS_LEAD VARCHAR(1000) NULL,
DATE_LAST_MODIFIED VARCHAR(1000) NULL,
DATE_LAST_ORDER VARCHAR(1000) NULL,
DATE_LAST_SALE VARCHAR(1000) NULL,
DATE_LEAD VARCHAR(1000) NULL,
DATE_PROSPECT VARCHAR(1000) NULL,
DAYS_OVERDUE VARCHAR(1000) NULL,
DEFAULT_ORDER_PRIORITY VARCHAR(1000) NULL,
DEFAULT_RECEIVABLES_ACCOUNT_ID VARCHAR(1000) NULL,
DEPOSIT_BALANCE VARCHAR(1000) NULL,
DEPOSIT_BALANCE_FOREIGN VARCHAR(1000) NULL,
EMAIL VARCHAR(1000) NULL,
EXPECTED_CLOSE VARCHAR(1000) NULL,
FAX VARCHAR(1000) NULL,
FIRSTNAME VARCHAR(1000) NULL,
FIRST_SALE_PERIOD_ID VARCHAR(1000) NULL,
FIRST_VISIT VARCHAR(1000) NULL,
FORECAST_BASED_ON_ALLOCATIONS VARCHAR(1000) NULL,
FORECAST_CHARGE_RUN_ON_DEMAND VARCHAR(1000) NULL,
FULL_NAME VARCHAR(1000) NULL,
HOME_PHONE VARCHAR(1000) NULL,
INDUSTRY_ID VARCHAR(1000) NULL,
ISEMAILHTML VARCHAR(1000) NULL,
ISEMAILPDF VARCHAR(1000) NULL,
ISINACTIVE VARCHAR(1000) NULL,
ISTAXABLE VARCHAR(1000) NULL,
IS_EXEMPT_TIME VARCHAR(1000) NULL,
IS_EXPLICIT_CONVERSION VARCHAR(1000) NULL,
IS_JOB VARCHAR(1000) NULL,
IS_LIMIT_TIME_TO_ASSIGNEES VARCHAR(1000) NULL,
IS_PERSON VARCHAR(1000) NULL,
IS_PRODUCTIVE_TIME VARCHAR(1000) NULL,
IS_PROJECT_COMPLETELY_BILLED VARCHAR(1000) NULL,
IS_UTILIZED_TIME VARCHAR(1000) NULL,
JOB_END VARCHAR(1000) NULL,
JOB_START VARCHAR(1000) NULL,
JOB_TYPE_ID VARCHAR(1000) NULL,
LABOR_BUDGET_FROM_ALLOCATIONS VARCHAR(1000) NULL,
LANGUAGE_ID VARCHAR(1000) NULL,
LASTNAME VARCHAR(1000) NULL,
LAST_MODIFIED_DATE VARCHAR(1000) NULL,
LAST_SALE_PERIOD_ID VARCHAR(1000) NULL,
LAST_VISIT VARCHAR(1000) NULL,
LEAD_SOURCE_ID VARCHAR(1000) NULL,
LINE1 VARCHAR(1000) NULL,
LINE2 VARCHAR(1000) NULL,
LINE3 VARCHAR(1000) NULL,
LOGINACCESS VARCHAR(1000) NULL,
MIDDLENAME VARCHAR(1000) NULL,
MOBILE_PHONE VARCHAR(1000) NULL,
MULTIPLE_PRICE_ID VARCHAR(1000) NULL,
NAME VARCHAR(1000) NULL,
NO__OF_EMPLOYEES VARCHAR(1000) NULL,
OPENBALANCE VARCHAR(1000) NULL,
OPENBALANCE_FOREIGN VARCHAR(1000) NULL,
PARENT_ID VARCHAR(1000) NULL,
PARTNER_ID VARCHAR(1000) NULL,
PAYMENT_TERMS_ID VARCHAR(1000) NULL,
PHONE VARCHAR(1000) NULL,
PRIMARY_CONTACT_ID VARCHAR(1000) NULL,
PRINT_ON_CHECK_AS VARCHAR(1000) NULL,
PROBABILITY VARCHAR(1000) NULL,
PROJECTED_END VARCHAR(1000) NULL,
PROJECT_EXPENSE_TYPE_ID VARCHAR(1000) NULL,
REFERRER VARCHAR(1000) NULL,
REMINDERDAYS VARCHAR(1000) NULL,
RENEWAL VARCHAR(1000) NULL,
REPRESENTS_SUBSIDIARY_ID VARCHAR(1000) NULL,
RESALENUMBER VARCHAR(1000) NULL,
REVENUE_ESTIMATE VARCHAR(1000) NULL,
REV_REC_FORECAST_RULE_ID VARCHAR(1000) NULL,
REV_REC_FORECAST_TEMPLATE VARCHAR(1000) NULL,
RO_BAD_CUSTOMER VARCHAR(1000) NULL,
RO_DEPOSIT_REQUIRED_ID VARCHAR(1000) NULL,
RO_EMPLOYEE_INSPERITY_ID VARCHAR(1000) NULL,
RO_GRANT_FACTORY_FLOOR_ACCESS VARCHAR(1000) NULL,
RO_HOW_DID_YOU_HEAR_ABOUT_U_ID VARCHAR(1000) NULL,
RO_IS_BIZ_DEV_CUSTOMER VARCHAR(1000) NULL,
RO_IS_FACTORY_AREA_LEAD VARCHAR(1000) NULL,
RO_IS_FACTORY_SUPERVISOR VARCHAR(1000) NULL,
RO_IS_TOLLING_CUSTOMER VARCHAR(1000) NULL,
RO_IS_VIP VARCHAR(1000) NULL,
RO_LEAD_COMPLETED VARCHAR(1000) NULL,
RO_LEAD_DATA_CLEANING_CLAIMED VARCHAR(1000) NULL,
RO_LEAD_DATA_CLEANING_CLAIM_ID VARCHAR(1000) NULL,
RO_LEAD_FLAGGED_AT VARCHAR(1000) NULL,
RO_LEAD_FLAGGED_BY_ID VARCHAR(1000) NULL,
RO_LEAD_FOLLOWUP_CLAIMED_AT VARCHAR(1000) NULL,
RO_LEAD_FOLLOWUP_CLAIMED_BY_ID VARCHAR(1000) NULL,
RO_LEAD_INQUIRY_TYPE_ID VARCHAR(1000) NULL,
RO_LEAD_QUANTITY VARCHAR(1000) NULL,
RO_LEAD_WORKFLOW_STATE_ID VARCHAR(1000) NULL,
RO_OPERATOR_STATION_PIN_CODE VARCHAR(1000) NULL,
RO_PARTNER_IS_TAXABLE VARCHAR(1000) NULL,
RO_PERSONAL_EMAIL VARCHAR(1000) NULL,
RO_RESALE_CERTIFICATE VARCHAR(1000) NULL,
RO_SECURITY_BADGE_ID VARCHAR(1000) NULL,
RO_STITCH_CONTACT_CLEANED VARCHAR(1000) NULL,
RO_STITCH_OBJECT_ID VARCHAR(1000) NULL,
RO_STITCH_URL VARCHAR(1000) NULL,
RO_SUBSCRIPTION_STATUS_ID VARCHAR(1000) NULL,
SALES_REP_ID VARCHAR(1000) NULL,
SALES_TERRITORY_ID VARCHAR(1000) NULL,
SALUTATION VARCHAR(1000) NULL,
SHIPADDRESS VARCHAR(1000) NULL,
SHIP_COMPLETE VARCHAR(1000) NULL,
STATE VARCHAR(1000) NULL,
STATUS VARCHAR(1000) NULL,
STATUS_DESCR VARCHAR(1000) NULL,
STATUS_PROBABILITY VARCHAR(1000) NULL,
STATUS_READ_ONLY VARCHAR(1000) NULL,
SUBSIDIARY_ID VARCHAR(1000) NULL,
TAX_ITEM_ID VARCHAR(1000) NULL,
THIRD_PARTY_ACCT VARCHAR(1000) NULL,
THIRD_PARTY_CARRIER VARCHAR(1000) NULL,
THIRD_PARTY_COUNTRY VARCHAR(1000) NULL,
THIRD_PARTY_ZIP_CODE VARCHAR(1000) NULL,
TIME_APPROVAL_TYPE_ID VARCHAR(1000) NULL,
TOP_LEVEL_PARENT_ID VARCHAR(1000) NULL,
UNBILLED_ORDERS VARCHAR(1000) NULL,
UNBILLED_ORDERS_FOREIGN VARCHAR(1000) NULL,
URL VARCHAR(1000) NULL,
USE_CALCULATED_BILLING_BUDGET VARCHAR(1000) NULL,
USE_CALCULATED_COST_BUDGET VARCHAR(1000) NULL,
USE_PERCENT_COMPLETE_OVERRIDE VARCHAR(1000) NULL,
VAT_REG_NUMBER VARCHAR(1000) NULL,
WEB_LEAD VARCHAR(1000) NULL,
ZIPCODE VARCHAR(1000) NULL,
dw_last_updt datetime Null
)
WITH (DATA_SOURCE = [AzureDataLakeStoreyetidpe3600],LOCATION = N'/hive/warehouse/edw_sz.db/nst_customers',FILE_FORMAT = [AzureStorageFormatHiveText],REJECT_TYPE = VALUE,REJECT_VALUE = 0)
;


if object_id('EDW_SZ.NST_Customers') is not null begin
Drop TABLE EDW_SZ.NST_Customers end;
Create Table EDW_SZ.NST_Customers WITH (DISTRIBUTION = ROUND_ROBIN ) AS 
(
Select 
ACCOUNTNUMBER,
ALCOHOL_RECIPIENT_TYPE,
ALLOW_TASK_TIME_FOR_ALLOCATION,
ALTEMAIL,
ALTERNATE_CONTACT_ID,
ALTPHONE,
AMOUNT_COMPLETE,
ANNUAL_REVENUE,
BILLADDRESS,
BILLING_RATE_CARD_ID,
BILLING_SCHEDULE_ID,
BILLING_SCHEDULE_TYPE,
BILLING_TRANSACTION_TYPE,
CALCULATED_END,
CATEGORY_0,
CITY,
COMPANYNAME,
CONSOL_DAYS_OVERDUE,
CONSOL_DEPOSIT_BALANCE,
CONSOL_DEPOSIT_BALANCE_FOREIGN,
CONSOL_OPENBALANCE,
CONSOL_OPENBALANCE_FOREIGN,
CONSOL_UNBILLED_ORDERS,
CONSOL_UNBILLED_ORDERS_FOREIGN,
CONVERTED_TO_CONTACT_ID,
CONVERTED_TO_ID,
COST_ESTIMATE,
COUNTRY,
CREATE_DATE,
CREDITHOLD,
CREDITLIMIT,
CURRENCY_ID,
CUSTOMER_EXTID,
Cast(Cast(CUSTOMER_ID AS Decimal(20,0)) AS Int) AS Customer_Id,
CUSTOMER_TYPE_ID,
DATE_CLOSED,
DATE_CONVSERSION,
DATE_FIRST_ORDER,
DATE_FIRST_SALE,
DATE_GROSS_LEAD,
DATE_LAST_MODIFIED,
DATE_LAST_ORDER,
DATE_LAST_SALE,
DATE_LEAD,
DATE_PROSPECT,
DAYS_OVERDUE,
DEFAULT_ORDER_PRIORITY,
DEFAULT_RECEIVABLES_ACCOUNT_ID,
DEPOSIT_BALANCE,
DEPOSIT_BALANCE_FOREIGN,
EMAIL,
EXPECTED_CLOSE,
FAX,
FIRSTNAME,
FIRST_SALE_PERIOD_ID,
FIRST_VISIT,
FORECAST_BASED_ON_ALLOCATIONS,
FORECAST_CHARGE_RUN_ON_DEMAND,
FULL_NAME,
HOME_PHONE,
INDUSTRY_ID,
ISEMAILHTML,
ISEMAILPDF,
ISINACTIVE,
ISTAXABLE,
IS_EXEMPT_TIME,
IS_EXPLICIT_CONVERSION,
IS_JOB,
IS_LIMIT_TIME_TO_ASSIGNEES,
IS_PERSON,
IS_PRODUCTIVE_TIME,
IS_PROJECT_COMPLETELY_BILLED,
IS_UTILIZED_TIME,
JOB_END,
JOB_START,
JOB_TYPE_ID,
LABOR_BUDGET_FROM_ALLOCATIONS,
LANGUAGE_ID,
LASTNAME,
LAST_MODIFIED_DATE,
LAST_SALE_PERIOD_ID,
LAST_VISIT,
LEAD_SOURCE_ID,
LINE1,
LINE2,
LINE3,
LOGINACCESS,
MIDDLENAME,
MOBILE_PHONE,
MULTIPLE_PRICE_ID,
NAME,
NO__OF_EMPLOYEES,
OPENBALANCE,
OPENBALANCE_FOREIGN,
PARENT_ID,
PARTNER_ID,
PAYMENT_TERMS_ID,
PHONE,
PRIMARY_CONTACT_ID,
PRINT_ON_CHECK_AS,
PROBABILITY,
PROJECTED_END,
PROJECT_EXPENSE_TYPE_ID,
REFERRER,
REMINDERDAYS,
RENEWAL,
REPRESENTS_SUBSIDIARY_ID,
RESALENUMBER,
REVENUE_ESTIMATE,
REV_REC_FORECAST_RULE_ID,
REV_REC_FORECAST_TEMPLATE,
RO_BAD_CUSTOMER,
RO_DEPOSIT_REQUIRED_ID,
RO_EMPLOYEE_INSPERITY_ID,
RO_GRANT_FACTORY_FLOOR_ACCESS,
RO_HOW_DID_YOU_HEAR_ABOUT_U_ID,
RO_IS_BIZ_DEV_CUSTOMER,
RO_IS_FACTORY_AREA_LEAD,
RO_IS_FACTORY_SUPERVISOR,
RO_IS_TOLLING_CUSTOMER,
RO_IS_VIP,
RO_LEAD_COMPLETED,
RO_LEAD_DATA_CLEANING_CLAIMED,
RO_LEAD_DATA_CLEANING_CLAIM_ID,
RO_LEAD_FLAGGED_AT,
RO_LEAD_FLAGGED_BY_ID,
RO_LEAD_FOLLOWUP_CLAIMED_AT,
RO_LEAD_FOLLOWUP_CLAIMED_BY_ID,
RO_LEAD_INQUIRY_TYPE_ID,
RO_LEAD_QUANTITY,
RO_LEAD_WORKFLOW_STATE_ID,
RO_OPERATOR_STATION_PIN_CODE,
RO_PARTNER_IS_TAXABLE,
RO_PERSONAL_EMAIL,
RO_RESALE_CERTIFICATE,
RO_SECURITY_BADGE_ID,
RO_STITCH_CONTACT_CLEANED,
RO_STITCH_OBJECT_ID,
RO_STITCH_URL,
RO_SUBSCRIPTION_STATUS_ID,
SALES_REP_ID,
SALES_TERRITORY_ID,
SALUTATION,
SHIPADDRESS,
SHIP_COMPLETE,
STATE,
STATUS,
STATUS_DESCR,
STATUS_PROBABILITY,
STATUS_READ_ONLY,
SUBSIDIARY_ID,
TAX_ITEM_ID,
THIRD_PARTY_ACCT,
THIRD_PARTY_CARRIER,
THIRD_PARTY_COUNTRY,
THIRD_PARTY_ZIP_CODE,
TIME_APPROVAL_TYPE_ID,
TOP_LEVEL_PARENT_ID,
UNBILLED_ORDERS,
UNBILLED_ORDERS_FOREIGN,
URL,
USE_CALCULATED_BILLING_BUDGET,
USE_CALCULATED_COST_BUDGET,
USE_PERCENT_COMPLETE_OVERRIDE,
VAT_REG_NUMBER,
WEB_LEAD,
ZIPCODE,
dw_last_updt
from EDW_RZ.NST_Customers 
);
GO
