USE [YETISQLDW01]
GO
/****** Object:  StoredProcedure [EDW_SZ].[Sp_NST_Transactions]    Script Date: 10/18/2018 11:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [EDW_SZ].[Sp_NST_Transactions] AS

if object_id('EDW_RZ.NST_Transactions') is not null begin
Drop EXTERNAL TABLE EDW_RZ.NST_Transactions end;
CREATE EXTERNAL TABLE EDW_RZ.NST_Transactions
(
ACCOUNTING_BOOK_ID [nvarchar](1000) NULL,
ACCOUNTING_PERIOD_ID [nvarchar](1000) NULL,
ACCOUNT_BASED_NUMBER [nvarchar](1000) NULL,
AMOUNT_UNBILLED [nvarchar](1000) NULL,
BILLADDRESS [nvarchar](1000) NULL,
BILLING_ACCOUNT_ID [nvarchar](1000) NULL,
BILLING_INSTRUCTIONS [nvarchar](1000) NULL,
BILL_PAY_TRANSACTION [nvarchar](1000) NULL,
BULK_SUBMISSION_ID [nvarchar](1000) NULL,
CAMPAIGN_CATEGORY_ID [nvarchar](1000) NULL,
CARRIER [nvarchar](1000) NULL,
CLOSED [nvarchar](1000) NULL,
COMPANY_STATUS_ID [nvarchar](1000) NULL,
CONTRACT_COST_AMOUNT [nvarchar](1000) NULL,
CONTRACT_DEFER_EXPENSE_ACCT_ID [nvarchar](1000) NULL,
CONTRACT_EXPENSE_ACCT_ID [nvarchar](1000) NULL,
CONTRACT_EXPENSE_SRC_ACCT_ID [nvarchar](1000) NULL,
CREATED_BY_ID [nvarchar](1000) NULL,
CREATED_FROM_ID [nvarchar](1000) NULL,
CREATE_DATE [nvarchar](1000) NULL,
CREDIT_CARD_BATCH [nvarchar](1000) NULL,
CREDIT_CARD_DEPOSIT_ANTICIPAT [nvarchar](1000) NULL,
CREDIT_CARD_DEPOSIT_CREATED [nvarchar](1000) NULL,
CREDIT_CARD_DEPOSIT_DATE [nvarchar](1000) NULL,
CREDIT_CARD_DEP_REF [nvarchar](1000) NULL,
CREDIT_CARD_SETTLED_AMOUNT [nvarchar](1000) NULL,
CREDIT_CARD_SETTLEMENT_DATA_C [nvarchar](1000) NULL,
CREDIT_CARD_SETTLEMENT_DATE [nvarchar](1000) NULL,
CURRENCY_ID [nvarchar](1000) NULL,
CUSTOM_FORM_ID [nvarchar](1000) NULL,
DATE_BID_CLOSE [nvarchar](1000) NULL,
DATE_BID_OPEN [nvarchar](1000) NULL,
DATE_CONTRACT_COST_ACCRUAL [nvarchar](1000) NULL,
DATE_LAST_MODIFIED [nvarchar](1000) NULL,
DUE_DATE [nvarchar](1000) NULL,
EMAIL [nvarchar](1000) NULL,
END_DATE [nvarchar](1000) NULL,
ENTITY_ID [nvarchar](1000) NULL,
ENTITY_TAX_REG_NUM [nvarchar](1000) NULL,
EXCHANGE_RATE [nvarchar](1000) NULL,
EXPECTED_CLOSE [nvarchar](1000) NULL,
EXTERNAL_REF_NUMBER [nvarchar](1000) NULL,
FAX [nvarchar](1000) NULL,
FOB [nvarchar](1000) NULL,
FORECAST_TYPE [nvarchar](1000) NULL,
INCLUDE_IN_FORECAST [nvarchar](1000) NULL,
INCOTERM [nvarchar](1000) NULL,
INTERCOMPANY_TRANSACTION_ID [nvarchar](1000) NULL,
IS_ADVANCED_INTERCOMPANY [nvarchar](1000) NULL,
IS_AUTOCALCULATE_LAG [nvarchar](1000) NULL,
IS_COMPLIANT [nvarchar](1000) NULL,
IS_CREATED_FROM_MERGE [nvarchar](1000) NULL,
IS_CROSS_SUB_TRANSACTIONS [nvarchar](1000) NULL,
IS_FINANCE_CHARGE [nvarchar](1000) NULL,
IS_FIRMED [nvarchar](1000) NULL,
IS_INTERCOMPANY [nvarchar](1000) NULL,
IS_MERGED_INTO_ARRANGEMENTS [nvarchar](1000) NULL,
IS_NON_POSTING [nvarchar](1000) NULL,
IS_PAYMENT_HOLD [nvarchar](1000) NULL,
IS_REVERSAL [nvarchar](1000) NULL,
IS_REVERSAL_0 [nvarchar](1000) NULL,
IS_TAX_REG_OVERRIDE [nvarchar](1000) NULL,
IS_WIP [nvarchar](1000) NULL,
ITEM_REVISION [nvarchar](1000) NULL,
JOB_ID [nvarchar](1000) NULL,
LANDED_COST_ALLOCATION_METHOD [nvarchar](1000) NULL,
LAST_MODIFIED_DATE [nvarchar](1000) NULL,
LEAD_SOURCE_ID [nvarchar](1000) NULL,
LOCATION_ID [nvarchar](1000) NULL,
MEMORIZED [nvarchar](1000) NULL,
MESSAGE [nvarchar](1000) NULL,
NEEDS_BILL [nvarchar](1000) NULL,
NEEDS_REVENUE_COMMITMENT [nvarchar](1000) NULL,
NUMBER_OF_PRICING_TIERS [nvarchar](1000) NULL,
OPENING_BALANCE_TRANSACTION [nvarchar](1000) NULL,
PACKING_LIST_INSTRUCTIONS [nvarchar](1000) NULL,
PARTNER_ID [nvarchar](1000) NULL,
PAYMENT_TERMS_ID [nvarchar](1000) NULL,
PN_REF_NUM [nvarchar](1000) NULL,
PROBABILITY [nvarchar](1000) NULL,
PRODUCT_LABEL_INSTRUCTIONS [nvarchar](1000) NULL,
PROJECTED_TOTAL [nvarchar](1000) NULL,
PROMOTION_CODE_ID [nvarchar](1000) NULL,
PROMOTION_CODE_INSTANCE_ID [nvarchar](1000) NULL,
PURCHASE_ORDER_INSTRUCTIONS [nvarchar](1000) NULL,
RELATED_TRANID [nvarchar](1000) NULL,
RENEWAL [nvarchar](1000) NULL,
REVENUE_COMMITMENT_STATUS [nvarchar](1000) NULL,
REVENUE_COMMITTED [nvarchar](1000) NULL,
REVENUE_STATUS [nvarchar](1000) NULL,
REVERSAL_DATE [nvarchar](1000) NULL,
REVERSAL_NUMBER_ID [nvarchar](1000) NULL,
REVERSING_TRANSACTION_ID [nvarchar](1000) NULL,
RO_AMAZON_ORDER_ID [nvarchar](1000) NULL,
RO_ASSEMBLY_UNBUILDS_ITEM_R_ID [nvarchar](1000) NULL,
RO_CARRIER_TYPE_ID [nvarchar](1000) NULL,
RO_CUSTOMER_DEPOSITS_REFUND_ID [nvarchar](1000) NULL,
RO_CUSTOMER_DEPOSIT_PREVENT_S [nvarchar](1000) NULL,
RO_CUSTOMER_DEPOSIT_REMAINING [nvarchar](1000) NULL,
RO_CUSTOMER_HAS_IMAGE_RIGHTS [nvarchar](1000) NULL,
RO_CUSTOMER_REFUND_FOR_THIS_ID [nvarchar](1000) NULL,
RO_DATA_CLEANED [nvarchar](1000) NULL,
RO_DATA_CLEANED_BY_ID [nvarchar](1000) NULL,
RO_DATA_CLEANING_FINISHED_AT [nvarchar](1000) NULL,
RO_DATA_CLEANING_STARTED_AT [nvarchar](1000) NULL,
RO_DEPARTMENT_OVERRIDE_ID [nvarchar](1000) NULL,
RO_DEPOSIT_TERMS_ID [nvarchar](1000) NULL,
RO_EMAIL_ORDER_CONFIRMATION_A [nvarchar](1000) NULL,
RO_EMAIL_ORDER_CONFIRMATION_E [nvarchar](1000) NULL,
RO_EMAIL_ORDER_CONFIRMATION_S [nvarchar](1000) NULL,
RO_EMAIL_ORDER_CONFIRMATION__0 [nvarchar](1000) NULL,
RO_ESTIMATED_SHIP_DATE [nvarchar](1000) NULL,
RO_FLIPPED_WO_TO_NEW [nvarchar](1000) NULL,
RO_FLIP_WO_TO_NEW [nvarchar](1000) NULL,
RO_HELP_SCOUT_CONVERSATION_CL [nvarchar](1000) NULL,
RO_HOW_DID_YOU_HEAR_ABOUT_U_ID [nvarchar](1000) NULL,
RO_IS_TOLLING_ORDER [nvarchar](1000) NULL,
RO_LAST_PRINTED_AT [nvarchar](1000) NULL,
RO_LEGACY_LASER_ASSIGNMENT_ID [nvarchar](1000) NULL,
RO_NEEDS_END_OF_MONTH_REVIEW [nvarchar](1000) NULL,
RO_PRINTED [nvarchar](1000) NULL,
RO_RELEASED_TO_LASER [nvarchar](1000) NULL,
RO_ROYALTY_STATUS_ID [nvarchar](1000) NULL,
RO_RUSH_PRODUCTION [nvarchar](1000) NULL,
RO_SALESORDER_DEPOSIT_AMT_REQ [nvarchar](1000) NULL,
RO_SALES_ORDER_APPLY_EMPLOYEE [nvarchar](1000) NULL,
RO_SALES_ORDER_APPROVAL_REQUE [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVAL_R [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVAL_T [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVED_E [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVED_S [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVED__0 [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_APPROVED__2 [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_EMAILS_SEN [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_EMAIL_ENAB [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_EMAIL_REQU [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_EMAIL_SENT [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_NOTIFIED_F [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_PREVIEWABL [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_STATUS_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_TO_BE_SENT [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_USER_APPRO [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_WAITING_ON [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_WAITING_O_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_ART_WAITING_O_1 [nvarchar](1000) NULL,
RO_SALES_ORDER_BACKEND_CAN_TO [nvarchar](1000) NULL,
RO_SALES_ORDER_BATCH_DETAILS [nvarchar](1000) NULL,
RO_SALES_ORDER_BULK_DISCOUN_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_CANCELLATION_E [nvarchar](1000) NULL,
RO_SALES_ORDER_CANCELLATION__0 [nvarchar](1000) NULL,
RO_SALES_ORDER_CANCEL_ORDER_R [nvarchar](1000) NULL,
RO_SALES_ORDER_CASE_QUANTITY [nvarchar](1000) NULL,
RO_SALES_ORDER_CDR_SYNCING [nvarchar](1000) NULL,
RO_SALES_ORDER_CDR_SYNCING_AT [nvarchar](1000) NULL,
RO_SALES_ORDER_COMBINED_FLA_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_COMMERCIAL_ANY [nvarchar](1000) NULL,
RO_SALES_ORDER_COMMERCIAL_SIZ [nvarchar](1000) NULL,
RO_SALES_ORDER_COMMERCIAL_STA [nvarchar](1000) NULL,
RO_SALES_ORDER_CONTACTED_CUST [nvarchar](1000) NULL,
RO_SALES_ORDER_COREL_EXTERN_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_COREL_UPLOADED [nvarchar](1000) NULL,
RO_SALES_ORDER_COREL_UPLOAD_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_CREATED_ESTIMA [nvarchar](1000) NULL,
RO_SALES_ORDER_CSG_APPROVAL_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_CSG_APPROVED [nvarchar](1000) NULL,
RO_SALES_ORDER_CSG_APPROVED_A [nvarchar](1000) NULL,
RO_SALES_ORDER_CSG_APPROVED_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_CUSTOMER_APP_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_CUSTOMER_DEPOS [nvarchar](1000) NULL,
RO_SALES_ORDER_CUSTOMER_RESPO [nvarchar](1000) NULL,
RO_SALES_ORDER_CUSTOMER_RESP_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_CUSTOM_PROMO_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_DELETE_LINE_IT [nvarchar](1000) NULL,
RO_SALES_ORDER_DEPOSIT_EMAIL_ [nvarchar](1000) NULL,
RO_SALES_ORDER_DEPOSIT_EMAIL_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_DEPOSIT_EMAIL_1 [nvarchar](1000) NULL,
RO_SALES_ORDER_DEPOSIT_STAT_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_DISCOUNT_HISTO [nvarchar](1000) NULL,
RO_SALES_ORDER_DISCOUNT_PERCE [nvarchar](1000) NULL,
RO_SALES_ORDER_DISTRIBUTED_HO [nvarchar](1000) NULL,
RO_SALES_ORDER_DO_NOT_PRODUCE [nvarchar](1000) NULL,
RO_SALES_ORDER_DO_NOT_SHIP_BE [nvarchar](1000) NULL,
RO_SALES_ORDER_EMAIL_CAMPAIGN [nvarchar](1000) NULL,
RO_SALES_ORDER_EMAIL_ORDER_AP [nvarchar](1000) NULL,
RO_SALES_ORDER_EMAIL_ORDER_A_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_EMAIL_ORDER_CO [nvarchar](1000) NULL,
RO_SALES_ORDER_EMAIL_ORDER_C_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_EMBELLISHMENT_ [nvarchar](1000) NULL,
RO_SALES_ORDER_ENABLE_COMME_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_FIXED_DURACOAT [nvarchar](1000) NULL,
RO_SALES_ORDER_FIX_FOR_BAD_IM [nvarchar](1000) NULL,
RO_SALES_ORDER_FIX_SHIP_DATE [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED_AT [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED_BY_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED_NOTICE [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED_NOTIC_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAGGED_REAS_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAG_DETAIL [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAG_EMAILS_SE [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAG_REASONS_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAG_RELEASED_ [nvarchar](1000) NULL,
RO_SALES_ORDER_FLAG_RELEASE_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_HAS_PLACEHOLDE [nvarchar](1000) NULL,
RO_SALES_ORDER_HELP_SCOUT_LIN [nvarchar](1000) NULL,
RO_SALES_ORDER_HIDE_FROM_PROD [nvarchar](1000) NULL,
RO_SALES_ORDER_HUMAN_HANDS_NE [nvarchar](1000) NULL,
RO_SALES_ORDER_IMPORT_MECHA_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_INITIALIZED [nvarchar](1000) NULL,
RO_SALES_ORDER_INTERNAL_REVIE [nvarchar](1000) NULL,
RO_SALES_ORDER_IN_HANDS_DATE [nvarchar](1000) NULL,
RO_SALES_ORDER_IS_BIZDEV [nvarchar](1000) NULL,
RO_SALES_ORDER_IS_COMPLEX [nvarchar](1000) NULL,
RO_SALES_ORDER_IS_DIRECT [nvarchar](1000) NULL,
RO_SALES_ORDER_IS_VIP [nvarchar](1000) NULL,
RO_SALES_ORDER_LASER_SELECT_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_LID_CHOICE_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_MANUAL_UPC [nvarchar](1000) NULL,
RO_SALES_ORDER_MIGRATED_CDR [nvarchar](1000) NULL,
RO_SALES_ORDER_MISSING_ADDRES [nvarchar](1000) NULL,
RO_SALES_ORDER_MISSING_UPCS [nvarchar](1000) NULL,
RO_SALES_ORDER_MISSING_WORK_O [nvarchar](1000) NULL,
RO_SALES_ORDER_NEEDS_UPCS [nvarchar](1000) NULL,
RO_SALES_ORDER_ORDER_TYPE [nvarchar](1000) NULL,
RO_SALES_ORDER_ORIGIN_LEAD_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_PAUSE_PENDING_ [nvarchar](1000) NULL,
RO_SALES_ORDER_PAYMENT_INSTRU [nvarchar](1000) NULL,
RO_SALES_ORDER_PHYSICAL_SAMPL [nvarchar](1000) NULL,
RO_SALES_ORDER_POST_APPROVAL_ [nvarchar](1000) NULL,
RO_SALES_ORDER_PRODUCTION_S_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_PRODUCT_LINES_ [nvarchar](1000) NULL,
RO_SALES_ORDER_PRODUCT_PROF_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_PRODUCT_QUANTI [nvarchar](1000) NULL,
RO_SALES_ORDER_PROMOCODE [nvarchar](1000) NULL,
RO_SALES_ORDER_PUT_IN_PRODUCT [nvarchar](1000) NULL,
RO_SALES_ORDER_PUT_IN_PRODU_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_QUOTE_EMAIL_ER [nvarchar](1000) NULL,
RO_SALES_ORDER_QUOTE_EMAIL_SE [nvarchar](1000) NULL,
RO_SALES_ORDER_QUOTE_EMAIL_S_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_QUOTE_EMAIL_TO [nvarchar](1000) NULL,
RO_SALES_ORDER_READY_FOR_PROD [nvarchar](1000) NULL,
RO_SALES_ORDER_RECALC_TOTAL_D [nvarchar](1000) NULL,
RO_SALES_ORDER_REJECTED [nvarchar](1000) NULL,
RO_SALES_ORDER_REJECTED_AT [nvarchar](1000) NULL,
RO_SALES_ORDER_REJECTED_BY_ID [nvarchar](1000) NULL,
RO_SALES_ORDER_RELEASE_TO_PRO [nvarchar](1000) NULL,
RO_SALES_ORDER_SENT_TO_PRODUC [nvarchar](1000) NULL,
RO_SALES_ORDER_SENT_TO_PRODU_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_SHIPPING_VERIF [nvarchar](1000) NULL,
RO_SALES_ORDER_SKIPPED_DATA_C [nvarchar](1000) NULL,
RO_SALES_ORDER_SKIP_CDR [nvarchar](1000) NULL,
RO_SALES_ORDER_TARGET_PRODUCT [nvarchar](1000) NULL,
RO_SALES_ORDER_TARGET_PRODUC_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_TOLLING_BACK_F [nvarchar](1000) NULL,
RO_SALES_ORDER_TOLLING_FRONT_ [nvarchar](1000) NULL,
RO_SALES_ORDER_TOLLING_SETUP_ [nvarchar](1000) NULL,
RO_SALES_ORDER_TOLLING_SETUP_0 [nvarchar](1000) NULL,
RO_SALES_ORDER_USE_CUSTOM_UPC [nvarchar](1000) NULL,
RO_SALES_ORDER_WORKFLOW_STA_ID [nvarchar](1000) NULL,
RO_SEND_PAY_INSTRUCTION_EMAIL [nvarchar](1000) NULL,
RO_SHIPPING_CAN_ACCEPT_FREIGH [nvarchar](1000) NULL,
RO_SHIPPING_LIFT_GATE_REQUIRE [nvarchar](1000) NULL,
RO_SHIPPING_USE_ACCOUNT_NUMBE [nvarchar](1000) NULL,
RO_SHIP_DATE_OFFSET_ORDER_CON [nvarchar](1000) NULL,
RO_SHIP_DATE_OFFSET_ORDER_ONL [nvarchar](1000) NULL,
RO_SO_CAN_ACCEPT_FREIGHT_SE_ID [nvarchar](1000) NULL,
RO_SO_LIFT_GATE_REQUIRED_SE_ID [nvarchar](1000) NULL,
RO_SO_VERIFIED_TAX_EXEMPT_CER [nvarchar](1000) NULL,
RO_STITCH_CREATED_BY_USER [nvarchar](1000) NULL,
RO_STITCH_LEAD_SOURCE [nvarchar](1000) NULL,
RO_STITCH_LINE_ITEM_ID [nvarchar](1000) NULL,
RO_STITCH_OBJECT_ID [nvarchar](1000) NULL,
RO_STITCH_OBJECT_LOCAL_ID [nvarchar](1000) NULL,
RO_STITCH_OBJECT_SUB_ID [nvarchar](1000) NULL,
RO_STITCH_PAYMENT_METHOD [nvarchar](1000) NULL,
RO_STITCH_PAYMENT_NOTE [nvarchar](1000) NULL,
RO_STITCH_PAYMENT_TRANSACTION [nvarchar](1000) NULL,
RO_STITCH_REFERENCE_NUMBER [nvarchar](1000) NULL,
RO_STITCH_SALES_ORDER_TAX_TOT [nvarchar](1000) NULL,
RO_STITCH_SALES_ORDER_TOTAL [nvarchar](1000) NULL,
RO_STITCH_URL [nvarchar](1000) NULL,
RO_TOLLING_ORDER_ID [nvarchar](1000) NULL,
RO_TRANSACTION_IS_FOR_SCRAP [nvarchar](1000) NULL,
RO_VENDOR_RMA_REASON_FOR_RE_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_ASSEMBLY_ITEM [nvarchar](1000) NULL,
RO_WORK_ORDER_CDR_BACK_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_CDR_FRONT_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_CONFIRMED_PRD_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_EXCEPTION_DETAI [nvarchar](1000) NULL,
RO_WORK_ORDER_EXCEPTION_RESET [nvarchar](1000) NULL,
RO_WORK_ORDER_EXCEPTION_STA_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_FIXED_CDR [nvarchar](1000) NULL,
RO_WORK_ORDER_FIX_CLOSE_DATE [nvarchar](1000) NULL,
RO_WORK_ORDER_LASER_SET_AT [nvarchar](1000) NULL,
RO_WORK_ORDER_LASER_SET_BY_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_LASER_TYPE_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_LEGACY_LASER_RE [nvarchar](1000) NULL,
RO_WORK_ORDER_LEGACY_LASER_R_0 [nvarchar](1000) NULL,
RO_WORK_ORDER_LEGACY_LASER__ID [nvarchar](1000) NULL,
RO_WORK_ORDER_LEGACY_REDO_L_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_LEGACY_REDO_QUA [nvarchar](1000) NULL,
RO_WORK_ORDER_PRINTED_BY_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_PRODUCTION_ST_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_PROD_STATUS_UPD [nvarchar](1000) NULL,
RO_WORK_ORDER_RELEASED_AT [nvarchar](1000) NULL,
RO_WORK_ORDER_RELEASED_BY_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_UPC_COPIED [nvarchar](1000) NULL,
RO_WORK_ORDER_UPC_DESCRIPTION [nvarchar](1000) NULL,
RO_WORK_ORDER_UPC_ID [nvarchar](1000) NULL,
RO_WORK_ORDER_UPC_PART_NUMBER [nvarchar](1000) NULL,
RO_WORK_ORDER_UPC_PRODUCT_NAM [nvarchar](1000) NULL,
RO_WO_CLOSECOMPLETION_FIXED [nvarchar](1000) NULL,
SALES_EFFECTIVE_DATE [nvarchar](1000) NULL,
SALES_REP_ID [nvarchar](1000) NULL,
SCHEDULING_METHOD_ID [nvarchar](1000) NULL,
SHIPADDRESS [nvarchar](1000) NULL,
SHIPMENT_RECEIVED [nvarchar](1000) NULL,
SHIPPING_ITEM_ID [nvarchar](1000) NULL,
SKIP_UPC [nvarchar](1000) NULL,
START_DATE [nvarchar](1000) NULL,
STATUS [nvarchar](1000) NULL,
TAX_REG_ID [nvarchar](1000) NULL,
TITLE [nvarchar](1000) NULL,
TRACKING_NUMBER [nvarchar](1000) NULL,
TRANDATE [nvarchar](1000) NULL,
TRANID [nvarchar](1000) NULL,
TRANSACTION_EXTID [nvarchar](1000) NULL,
TRANSACTION_ID [nvarchar](1000) NULL,
TRANSACTION_NUMBER [nvarchar](1000) NULL,
TRANSACTION_PARTNER [nvarchar](1000) NULL,
TRANSACTION_SOURCE [nvarchar](1000) NULL,
TRANSACTION_TYPE [nvarchar](1000) NULL,
TRANSACTION_WEBSITE [nvarchar](1000) NULL,
TRANSFER_LOCATION [nvarchar](1000) NULL,
TRANS_IS_VSOE_BUNDLE [nvarchar](1000) NULL,
USE_ITEM_COST_AS_TRANSFER_COST [nvarchar](1000) NULL,
VISIBLE_IN_CUSTOMER_CENTER [nvarchar](1000) NULL,
WEIGHTED_TOTAL [nvarchar](1000) NULL,
dw_last_updt datetime Null
)
WITH (DATA_SOURCE = [AzureDataLakeStoreyetidpe3600],LOCATION = N'/hive/warehouse/edw_sz.db/nst_transactions',FILE_FORMAT = [AzureStorageFormatHiveText],REJECT_TYPE = VALUE,REJECT_VALUE = 0)
;


if object_id('EDW_SZ.NST_Transactions') is not null begin
Drop TABLE EDW_SZ.NST_Transactions end;

Create Table EDW_SZ.NST_Transactions WITH (DISTRIBUTION = ROUND_ROBIN ) AS 
( 
Select 
ACCOUNTING_BOOK_ID,
ACCOUNTING_PERIOD_ID,
ACCOUNT_BASED_NUMBER,
AMOUNT_UNBILLED,
BILLADDRESS,
BILLING_ACCOUNT_ID,
BILLING_INSTRUCTIONS,
BILL_PAY_TRANSACTION,
BULK_SUBMISSION_ID,
CAMPAIGN_CATEGORY_ID,
CARRIER,
CLOSED,
COMPANY_STATUS_ID,
CONTRACT_COST_AMOUNT,
CONTRACT_DEFER_EXPENSE_ACCT_ID,
CONTRACT_EXPENSE_ACCT_ID,
CONTRACT_EXPENSE_SRC_ACCT_ID,
CREATED_BY_ID,
CREATED_FROM_ID,
CREATE_DATE,
CREDIT_CARD_BATCH,
CREDIT_CARD_DEPOSIT_ANTICIPAT,
CREDIT_CARD_DEPOSIT_CREATED,
CREDIT_CARD_DEPOSIT_DATE,
CREDIT_CARD_DEP_REF,
CREDIT_CARD_SETTLED_AMOUNT,
CREDIT_CARD_SETTLEMENT_DATA_C,
CREDIT_CARD_SETTLEMENT_DATE,
CURRENCY_ID,
CUSTOM_FORM_ID,
DATE_BID_CLOSE,
DATE_BID_OPEN,
DATE_CONTRACT_COST_ACCRUAL,
DATE_LAST_MODIFIED,
DUE_DATE,
EMAIL,
END_DATE,
Cast(Cast(Case When ENTITY_ID = 'null' then Null Else ENTITY_ID End AS Decimal(20,0)) AS Int) AS ENTITY_ID,
ENTITY_TAX_REG_NUM,
EXCHANGE_RATE,
EXPECTED_CLOSE,
EXTERNAL_REF_NUMBER,
FAX,
FOB,
FORECAST_TYPE,
INCLUDE_IN_FORECAST,
INCOTERM,
INTERCOMPANY_TRANSACTION_ID,
IS_ADVANCED_INTERCOMPANY,
IS_AUTOCALCULATE_LAG,
IS_COMPLIANT,
IS_CREATED_FROM_MERGE,
IS_CROSS_SUB_TRANSACTIONS,
IS_FINANCE_CHARGE,
IS_FIRMED,
IS_INTERCOMPANY,
IS_MERGED_INTO_ARRANGEMENTS,
IS_NON_POSTING,
IS_PAYMENT_HOLD,
IS_REVERSAL,
IS_REVERSAL_0,
IS_TAX_REG_OVERRIDE,
IS_WIP,
ITEM_REVISION,
JOB_ID,
LANDED_COST_ALLOCATION_METHOD,
LAST_MODIFIED_DATE,
LEAD_SOURCE_ID,
LOCATION_ID,
MEMORIZED,
MESSAGE,
NEEDS_BILL,
NEEDS_REVENUE_COMMITMENT,
NUMBER_OF_PRICING_TIERS,
OPENING_BALANCE_TRANSACTION,
PACKING_LIST_INSTRUCTIONS,
PARTNER_ID,
PAYMENT_TERMS_ID,
PN_REF_NUM,
PROBABILITY,
PRODUCT_LABEL_INSTRUCTIONS,
PROJECTED_TOTAL,
PROMOTION_CODE_ID,
PROMOTION_CODE_INSTANCE_ID,
PURCHASE_ORDER_INSTRUCTIONS,
RELATED_TRANID,
RENEWAL,
REVENUE_COMMITMENT_STATUS,
REVENUE_COMMITTED,
REVENUE_STATUS,
REVERSAL_DATE,
REVERSAL_NUMBER_ID,
REVERSING_TRANSACTION_ID,
RO_AMAZON_ORDER_ID,
RO_ASSEMBLY_UNBUILDS_ITEM_R_ID,
RO_CARRIER_TYPE_ID,
RO_CUSTOMER_DEPOSITS_REFUND_ID,
RO_CUSTOMER_DEPOSIT_PREVENT_S,
RO_CUSTOMER_DEPOSIT_REMAINING,
RO_CUSTOMER_HAS_IMAGE_RIGHTS,
RO_CUSTOMER_REFUND_FOR_THIS_ID,
RO_DATA_CLEANED,
RO_DATA_CLEANED_BY_ID,
RO_DATA_CLEANING_FINISHED_AT,
RO_DATA_CLEANING_STARTED_AT,
RO_DEPARTMENT_OVERRIDE_ID,
RO_DEPOSIT_TERMS_ID,
RO_EMAIL_ORDER_CONFIRMATION_A,
RO_EMAIL_ORDER_CONFIRMATION_E,
RO_EMAIL_ORDER_CONFIRMATION_S,
RO_EMAIL_ORDER_CONFIRMATION__0,
RO_ESTIMATED_SHIP_DATE,
RO_FLIPPED_WO_TO_NEW,
RO_FLIP_WO_TO_NEW,
RO_HELP_SCOUT_CONVERSATION_CL,
RO_HOW_DID_YOU_HEAR_ABOUT_U_ID,
RO_IS_TOLLING_ORDER,
RO_LAST_PRINTED_AT,
RO_LEGACY_LASER_ASSIGNMENT_ID,
RO_NEEDS_END_OF_MONTH_REVIEW,
RO_PRINTED,
RO_RELEASED_TO_LASER,
RO_ROYALTY_STATUS_ID,
RO_RUSH_PRODUCTION,
RO_SALESORDER_DEPOSIT_AMT_REQ,
RO_SALES_ORDER_APPLY_EMPLOYEE,
RO_SALES_ORDER_APPROVAL_REQUE,
RO_SALES_ORDER_ART_APPROVAL_R,
RO_SALES_ORDER_ART_APPROVAL_T,
RO_SALES_ORDER_ART_APPROVED_E,
RO_SALES_ORDER_ART_APPROVED_S,
RO_SALES_ORDER_ART_APPROVED__0,
RO_SALES_ORDER_ART_APPROVED__2,
RO_SALES_ORDER_ART_EMAILS_SEN,
RO_SALES_ORDER_ART_EMAIL_ENAB,
RO_SALES_ORDER_ART_EMAIL_REQU,
RO_SALES_ORDER_ART_EMAIL_SENT,
RO_SALES_ORDER_ART_NOTIFIED_F,
RO_SALES_ORDER_ART_PREVIEWABL,
RO_SALES_ORDER_ART_STATUS_ID,
RO_SALES_ORDER_ART_TO_BE_SENT,
RO_SALES_ORDER_ART_USER_APPRO,
RO_SALES_ORDER_ART_WAITING_ON,
RO_SALES_ORDER_ART_WAITING_O_0,
RO_SALES_ORDER_ART_WAITING_O_1,
RO_SALES_ORDER_BACKEND_CAN_TO,
RO_SALES_ORDER_BATCH_DETAILS,
RO_SALES_ORDER_BULK_DISCOUN_ID,
RO_SALES_ORDER_CANCELLATION_E,
RO_SALES_ORDER_CANCELLATION__0,
RO_SALES_ORDER_CANCEL_ORDER_R,
RO_SALES_ORDER_CASE_QUANTITY,
RO_SALES_ORDER_CDR_SYNCING,
RO_SALES_ORDER_CDR_SYNCING_AT,
RO_SALES_ORDER_COMBINED_FLA_ID,
RO_SALES_ORDER_COMMERCIAL_ANY,
RO_SALES_ORDER_COMMERCIAL_SIZ,
RO_SALES_ORDER_COMMERCIAL_STA,
RO_SALES_ORDER_CONTACTED_CUST,
RO_SALES_ORDER_COREL_EXTERN_ID,
RO_SALES_ORDER_COREL_UPLOADED,
RO_SALES_ORDER_COREL_UPLOAD_ID,
RO_SALES_ORDER_CREATED_ESTIMA,
RO_SALES_ORDER_CSG_APPROVAL_ID,
RO_SALES_ORDER_CSG_APPROVED,
RO_SALES_ORDER_CSG_APPROVED_A,
RO_SALES_ORDER_CSG_APPROVED_ID,
RO_SALES_ORDER_CUSTOMER_APP_ID,
RO_SALES_ORDER_CUSTOMER_DEPOS,
RO_SALES_ORDER_CUSTOMER_RESPO,
RO_SALES_ORDER_CUSTOMER_RESP_0,
RO_SALES_ORDER_CUSTOM_PROMO_ID,
RO_SALES_ORDER_DELETE_LINE_IT,
RO_SALES_ORDER_DEPOSIT_EMAIL_,
RO_SALES_ORDER_DEPOSIT_EMAIL_0,
RO_SALES_ORDER_DEPOSIT_EMAIL_1,
RO_SALES_ORDER_DEPOSIT_STAT_ID,
RO_SALES_ORDER_DISCOUNT_HISTO,
RO_SALES_ORDER_DISCOUNT_PERCE,
RO_SALES_ORDER_DISTRIBUTED_HO,
RO_SALES_ORDER_DO_NOT_PRODUCE,
RO_SALES_ORDER_DO_NOT_SHIP_BE,
RO_SALES_ORDER_EMAIL_CAMPAIGN,
RO_SALES_ORDER_EMAIL_ORDER_AP,
RO_SALES_ORDER_EMAIL_ORDER_A_0,
RO_SALES_ORDER_EMAIL_ORDER_CO,
RO_SALES_ORDER_EMAIL_ORDER_C_0,
RO_SALES_ORDER_EMBELLISHMENT_,
RO_SALES_ORDER_ENABLE_COMME_ID,
RO_SALES_ORDER_FIXED_DURACOAT,
RO_SALES_ORDER_FIX_FOR_BAD_IM,
RO_SALES_ORDER_FIX_SHIP_DATE,
RO_SALES_ORDER_FLAGGED,
RO_SALES_ORDER_FLAGGED_AT,
RO_SALES_ORDER_FLAGGED_BY_ID,
RO_SALES_ORDER_FLAGGED_NOTICE,
RO_SALES_ORDER_FLAGGED_NOTIC_0,
RO_SALES_ORDER_FLAGGED_REAS_ID,
RO_SALES_ORDER_FLAG_DETAIL,
RO_SALES_ORDER_FLAG_EMAILS_SE,
RO_SALES_ORDER_FLAG_REASONS_ID,
RO_SALES_ORDER_FLAG_RELEASED_,
RO_SALES_ORDER_FLAG_RELEASE_ID,
RO_SALES_ORDER_HAS_PLACEHOLDE,
RO_SALES_ORDER_HELP_SCOUT_LIN,
RO_SALES_ORDER_HIDE_FROM_PROD,
RO_SALES_ORDER_HUMAN_HANDS_NE,
RO_SALES_ORDER_IMPORT_MECHA_ID,
RO_SALES_ORDER_INITIALIZED,
RO_SALES_ORDER_INTERNAL_REVIE,
RO_SALES_ORDER_IN_HANDS_DATE,
RO_SALES_ORDER_IS_BIZDEV,
RO_SALES_ORDER_IS_COMPLEX,
RO_SALES_ORDER_IS_DIRECT,
RO_SALES_ORDER_IS_VIP,
RO_SALES_ORDER_LASER_SELECT_ID,
RO_SALES_ORDER_LID_CHOICE_ID,
RO_SALES_ORDER_MANUAL_UPC,
RO_SALES_ORDER_MIGRATED_CDR,
RO_SALES_ORDER_MISSING_ADDRES,
RO_SALES_ORDER_MISSING_UPCS,
RO_SALES_ORDER_MISSING_WORK_O,
RO_SALES_ORDER_NEEDS_UPCS,
RO_SALES_ORDER_ORDER_TYPE,
RO_SALES_ORDER_ORIGIN_LEAD_ID,
RO_SALES_ORDER_PAUSE_PENDING_,
RO_SALES_ORDER_PAYMENT_INSTRU,
RO_SALES_ORDER_PHYSICAL_SAMPL,
RO_SALES_ORDER_POST_APPROVAL_,
RO_SALES_ORDER_PRODUCTION_S_ID,
RO_SALES_ORDER_PRODUCT_LINES_,
RO_SALES_ORDER_PRODUCT_PROF_ID,
CAST(Case when RO_SALES_ORDER_PRODUCT_QUANTI = 'null' then null else RO_SALES_ORDER_PRODUCT_QUANTI END As Decimal(25,2)) AS RO_SALES_ORDER_PRODUCT_QUANTI,
RO_SALES_ORDER_PROMOCODE,
RO_SALES_ORDER_PUT_IN_PRODUCT,
RO_SALES_ORDER_PUT_IN_PRODU_ID,
RO_SALES_ORDER_QUOTE_EMAIL_ER,
RO_SALES_ORDER_QUOTE_EMAIL_SE,
RO_SALES_ORDER_QUOTE_EMAIL_S_0,
RO_SALES_ORDER_QUOTE_EMAIL_TO,
RO_SALES_ORDER_READY_FOR_PROD,
RO_SALES_ORDER_RECALC_TOTAL_D,
RO_SALES_ORDER_REJECTED,
RO_SALES_ORDER_REJECTED_AT,
RO_SALES_ORDER_REJECTED_BY_ID,
RO_SALES_ORDER_RELEASE_TO_PRO,
RO_SALES_ORDER_SENT_TO_PRODUC,
RO_SALES_ORDER_SENT_TO_PRODU_0,
RO_SALES_ORDER_SHIPPING_VERIF,
RO_SALES_ORDER_SKIPPED_DATA_C,
RO_SALES_ORDER_SKIP_CDR,
RO_SALES_ORDER_TARGET_PRODUCT,
RO_SALES_ORDER_TARGET_PRODUC_0,
RO_SALES_ORDER_TOLLING_BACK_F,
RO_SALES_ORDER_TOLLING_FRONT_,
RO_SALES_ORDER_TOLLING_SETUP_,
RO_SALES_ORDER_TOLLING_SETUP_0,
RO_SALES_ORDER_USE_CUSTOM_UPC,
RO_SALES_ORDER_WORKFLOW_STA_ID,
RO_SEND_PAY_INSTRUCTION_EMAIL,
RO_SHIPPING_CAN_ACCEPT_FREIGH,
RO_SHIPPING_LIFT_GATE_REQUIRE,
RO_SHIPPING_USE_ACCOUNT_NUMBE,
RO_SHIP_DATE_OFFSET_ORDER_CON,
RO_SHIP_DATE_OFFSET_ORDER_ONL,
RO_SO_CAN_ACCEPT_FREIGHT_SE_ID,
RO_SO_LIFT_GATE_REQUIRED_SE_ID,
RO_SO_VERIFIED_TAX_EXEMPT_CER,
RO_STITCH_CREATED_BY_USER,
RO_STITCH_LEAD_SOURCE,
RO_STITCH_LINE_ITEM_ID,
RO_STITCH_OBJECT_ID,
RO_STITCH_OBJECT_LOCAL_ID,
RO_STITCH_OBJECT_SUB_ID,
RO_STITCH_PAYMENT_METHOD,
RO_STITCH_PAYMENT_NOTE,
RO_STITCH_PAYMENT_TRANSACTION,
RO_STITCH_REFERENCE_NUMBER,
RO_STITCH_SALES_ORDER_TAX_TOT,
RO_STITCH_SALES_ORDER_TOTAL,
RO_STITCH_URL,
RO_TOLLING_ORDER_ID,
RO_TRANSACTION_IS_FOR_SCRAP,
RO_VENDOR_RMA_REASON_FOR_RE_ID,
RO_WORK_ORDER_ASSEMBLY_ITEM,
RO_WORK_ORDER_CDR_BACK_ID,
RO_WORK_ORDER_CDR_FRONT_ID,
RO_WORK_ORDER_CONFIRMED_PRD_ID,
RO_WORK_ORDER_EXCEPTION_DETAI,
RO_WORK_ORDER_EXCEPTION_RESET,
RO_WORK_ORDER_EXCEPTION_STA_ID,
RO_WORK_ORDER_FIXED_CDR,
RO_WORK_ORDER_FIX_CLOSE_DATE,
RO_WORK_ORDER_LASER_SET_AT,
RO_WORK_ORDER_LASER_SET_BY_ID,
RO_WORK_ORDER_LASER_TYPE_ID,
RO_WORK_ORDER_LEGACY_LASER_RE,
RO_WORK_ORDER_LEGACY_LASER_R_0,
RO_WORK_ORDER_LEGACY_LASER__ID,
RO_WORK_ORDER_LEGACY_REDO_L_ID,
RO_WORK_ORDER_LEGACY_REDO_QUA,
RO_WORK_ORDER_PRINTED_BY_ID,
RO_WORK_ORDER_PRODUCTION_ST_ID,
RO_WORK_ORDER_PROD_STATUS_UPD,
RO_WORK_ORDER_RELEASED_AT,
RO_WORK_ORDER_RELEASED_BY_ID,
RO_WORK_ORDER_UPC_COPIED,
RO_WORK_ORDER_UPC_DESCRIPTION,
RO_WORK_ORDER_UPC_ID,
RO_WORK_ORDER_UPC_PART_NUMBER,
RO_WORK_ORDER_UPC_PRODUCT_NAM,
RO_WO_CLOSECOMPLETION_FIXED,
SALES_EFFECTIVE_DATE,
SALES_REP_ID,
SCHEDULING_METHOD_ID,
SHIPADDRESS,
SHIPMENT_RECEIVED,
SHIPPING_ITEM_ID,
SKIP_UPC,
START_DATE,
STATUS,
TAX_REG_ID,
TITLE,
TRACKING_NUMBER,
Cast(TRANDATE AS Date) AS TRANDATE,
TRANID,
TRANSACTION_EXTID,
TRANSACTION_ID,
TRANSACTION_NUMBER,
TRANSACTION_PARTNER,
TRANSACTION_SOURCE,
TRANSACTION_TYPE,
TRANSACTION_WEBSITE,
TRANSFER_LOCATION,
TRANS_IS_VSOE_BUNDLE,
USE_ITEM_COST_AS_TRANSFER_COST,
VISIBLE_IN_CUSTOMER_CENTER,
WEIGHTED_TOTAL,
dw_last_updt
from EDW_RZ.NST_Transactions 
);
GO
