USE [YETISQLDW01]
GO
/****** Object:  StoredProcedure [EDW_SZ].[Sp_NST_Items]    Script Date: 10/18/2018 11:07:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [EDW_SZ].[Sp_NST_Items] AS

if object_id('EDW_RZ.NST_Items') is not null begin
Drop EXTERNAL TABLE EDW_RZ.NST_Items end;
CREATE EXTERNAL TABLE EDW_RZ.NST_Items
(
ALLOW_DROP_SHIP VARCHAR(1000) NULL,
ALT_DEMAND_SOURCE_ITEM_ID VARCHAR(1000) NULL,
ASSET_ACCOUNT_ID VARCHAR(1000) NULL,
ATP_LEAD_TIME VARCHAR(1000) NULL,
ATP_METHOD VARCHAR(1000) NULL,
AVAILABLE_TO_PARTNERS VARCHAR(1000) NULL,
AVERAGECOST VARCHAR(1000) NULL,
BACKWARD_CONSUMPTION_DAYS VARCHAR(1000) NULL,
BILL_EXCH_RATE_VAR_ACCOUNT_ID VARCHAR(1000) NULL,
BILL_PRICE_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
BILL_QTY_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
BUILD_SUB_ASSEMBLIES VARCHAR(1000) NULL,
CLASS_ID VARCHAR(1000) NULL,
COSTING_METHOD VARCHAR(1000) NULL,
COST_0 VARCHAR(1000) NULL,
COST_CATEGORY VARCHAR(1000) NULL,
COST_ESTIMATE_TYPE VARCHAR(1000) NULL,
COUNTRY_OF_MANUFACTURE VARCHAR(1000) NULL,
CREATED VARCHAR(1000) NULL,
CREATE_PLAN_ON_EVENT_TYPE VARCHAR(1000) NULL,
CURRENT_ON_ORDER_COUNT VARCHAR(1000) NULL,
CUSTRETURN_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
DATE_LAST_MODIFIED VARCHAR(1000) NULL,
DATE_OF_LAST_TRANSACTION VARCHAR(1000) NULL,
DEFAULT_RETURN_COST VARCHAR(1000) NULL,
DEFERRED_EXPENSE_ACCOUNT_ID VARCHAR(1000) NULL,
DEFERRED_REVENUE_ACCOUNT_ID VARCHAR(1000) NULL,
DEMAND_SOURCE VARCHAR(1000) NULL,
DEMAND_TIME_FENCE VARCHAR(1000) NULL,
DEPARTMENT_ID VARCHAR(1000) NULL,
DEPOSIT VARCHAR(1000) NULL,
DISPLAYNAME VARCHAR(1000) NULL,
DISTRIBUTION_CATEGORY VARCHAR(1000) NULL,
DISTRIBUTION_NETWORK VARCHAR(1000) NULL,
DO_NOT_SELL VARCHAR(1000) NULL,
DROPSHIP_EXPENSE_ACCOUNT_ID VARCHAR(1000) NULL,
EFFECTIVE_BOM_CONTROL_TYPE VARCHAR(1000) NULL,
EXPENSE_ACCOUNT_ID VARCHAR(1000) NULL,
FEATUREDDESCRIPTION VARCHAR(1000) NULL,
FEATUREDITEM VARCHAR(1000) NULL,
FIXED_LOT_SIZE VARCHAR(1000) NULL,
FORWARD_CONSUMPTION_DAYS VARCHAR(1000) NULL,
FRAUD_RISK VARCHAR(1000) NULL,
FULL_NAME VARCHAR(1000) NULL,
FX_ADJUSTMENT_ACCOUNT_ID VARCHAR(1000) NULL,
GAIN_LOSS_ACCOUNT_ID VARCHAR(1000) NULL,
HANDLING_COST VARCHAR(1000) NULL,
HAZMAT VARCHAR(1000) NULL,
HAZMAT_HAZARD_CLASS VARCHAR(1000) NULL,
HAZMAT_ID VARCHAR(1000) NULL,
HAZMAT_ITEM_UNITS VARCHAR(1000) NULL,
HAZMAT_ITEM_UNITS_QTY VARCHAR(1000) NULL,
HAZMAT_PACKING_GROUP VARCHAR(1000) NULL,
HAZMAT_SHIPPING_NAME VARCHAR(1000) NULL,
INCLUDE_CHILD_SUBSIDIARIES VARCHAR(1000) NULL,
INCOME_ACCOUNT_ID VARCHAR(1000) NULL,
INTERCO_EXPENSE_ACCOUNT_ID VARCHAR(1000) NULL,
INTERCO_INCOME_ACCOUNT_ID VARCHAR(1000) NULL,
INVT_COUNT_CLASSIFICATION VARCHAR(1000) NULL,
INVT_COUNT_INTERVAL VARCHAR(1000) NULL,
ISINACTIVE VARCHAR(1000) NULL,
ISONLINE VARCHAR(1000) NULL,
ISTAXABLE VARCHAR(1000) NULL,
IS_CONT_REV_HANDLING VARCHAR(1000) NULL,
IS_ENFORCE_MIN_QTY_INTERNALLY VARCHAR(1000) NULL,
IS_HOLD_REV_REC VARCHAR(1000) NULL,
IS_MOSS VARCHAR(1000) NULL,
IS_PHANTOM VARCHAR(1000) NULL,
IS_SPECIAL_ORDER_ITEM VARCHAR(1000) NULL,
ITEM_DEFINED_COST VARCHAR(1000) NULL,
ITEM_EXTID VARCHAR(1000) NULL,
ITEM_ID VARCHAR(1000) NULL,
ITEM_REVENUE_CATEGORY VARCHAR(1000) NULL,
LAST_COGS_CORRECTION VARCHAR(1000) NULL,
LAST_INVT_COUNT_DATE VARCHAR(1000) NULL,
LAST_PURCHASE_PRICE VARCHAR(1000) NULL,
LOCATION_ID VARCHAR(1000) NULL,
LOT_NUMBERED_ITEM VARCHAR(1000) NULL,
LOT_SIZING_METHOD VARCHAR(1000) NULL,
MANUFACTURER VARCHAR(1000) NULL,
MANUFACTURING_CHARGE_ITEM VARCHAR(1000) NULL,
MATCH_BILL_TO_RECEIPT VARCHAR(1000) NULL,
MAXIMUM_QUANTITY VARCHAR(1000) NULL,
MINIMUM_QUANTITY VARCHAR(1000) NULL,
MODIFIED VARCHAR(1000) NULL,
MPN VARCHAR(1000) NULL,
NAME VARCHAR(1000) NULL,
NEXT_INVT_COUNT_DATE VARCHAR(1000) NULL,
NS_LEAD_TIME VARCHAR(1000) NULL,
OFFERSUPPORT VARCHAR(1000) NULL,
ONSPECIAL VARCHAR(1000) NULL,
OVERHEAD_TYPE VARCHAR(1000) NULL,
PARENT_ID VARCHAR(1000) NULL,
PAYMENT_METHOD_ID VARCHAR(1000) NULL,
PERIODIC_LOT_SIZE_DAYS VARCHAR(1000) NULL,
PERIODIC_LOT_SIZE_TYPE VARCHAR(1000) NULL,
PREF_PURCHASE_TAX_ID VARCHAR(1000) NULL,
PREF_SALE_TAX_ID VARCHAR(1000) NULL,
PREF_STOCK_LEVEL VARCHAR(1000) NULL,
PRICES_INCLUDE_TAX VARCHAR(1000) NULL,
PRICING_GROUP_ID VARCHAR(1000) NULL,
PRINT_SUB_ITEMS VARCHAR(1000) NULL,
PROD_PRICE_VAR_ACCOUNT_ID VARCHAR(1000) NULL,
PROD_QTY_VAR_ACCOUNT_ID VARCHAR(1000) NULL,
--PURCHASEDESCRIPTION VARCHAR(1000) NULL,
PURCHASEORDERAMOUNT VARCHAR(1000) NULL,
PURCHASEORDERQUANTITY VARCHAR(1000) NULL,
PURCHASEORDERQUANTITYDIFF VARCHAR(1000) NULL,
PURCHASE_PRICE_VAR_ACCOUNT_ID VARCHAR(1000) NULL,
PURCHASE_UNIT_ID VARCHAR(1000) NULL,
QUANTITYAVAILABLE VARCHAR(1000) NULL,
QUANTITYBACKORDERED VARCHAR(1000) NULL,
QUANTITYONHAND VARCHAR(1000) NULL,
RECEIPTAMOUNT VARCHAR(1000) NULL,
RECEIPTQUANTITY VARCHAR(1000) NULL,
RECEIPTQUANTITYDIFF VARCHAR(1000) NULL,
REORDERPOINT VARCHAR(1000) NULL,
REORDER_MULTIPLE VARCHAR(1000) NULL,
REPLENISHMENT_METHOD VARCHAR(1000) NULL,
RESALABLE VARCHAR(1000) NULL,
RESCHEDULE_IN_DAYS VARCHAR(1000) NULL,
RESCHEDULE_OUT_DAYS VARCHAR(1000) NULL,
REVENUE_ALLOCATION_GROUP VARCHAR(1000) NULL,
REV_REC_FORECAST_RULE_ID VARCHAR(1000) NULL,
REV_REC_RULE_ID VARCHAR(1000) NULL,
ROUND_UP_AS_COMPONENT VARCHAR(1000) NULL,
RO_ART_CATEGORY_ID VARCHAR(1000) NULL,
RO_CHECK_AVAILABILITY VARCHAR(1000) NULL,
RO_IMGIX_PREVIEW_PARAMS VARCHAR(1000) NULL,
RO_INCLUDE_IN_CSV VARCHAR(1000) NULL,
RO_IS_PREMADE_EMBELLISHMENT VARCHAR(1000) NULL,
RO_ITEM_BASE_KEY VARCHAR(1000) NULL,
RO_ITEM_CASE_QUANTITY VARCHAR(1000) NULL,
RO_ITEM_FRIENDLY_NAME VARCHAR(1000) NULL,
RO_ITEM_IS_PREMIUM VARCHAR(1000) NULL,
RO_ITEM_KEY_ID VARCHAR(1000) NULL,
RO_ITEM_LICENSING_ART_DESCRIP VARCHAR(1000) NULL,
RO_ITEM_MAX_LINES VARCHAR(1000) NULL,
RO_ITEM_NASCAR_TAG VARCHAR(1000) NULL,
RO_ITEM_OFFSET_TOP VARCHAR(1000) NULL,
RO_ITEM_PRINT_RATIO VARCHAR(1000) NULL,
RO_ITEM_PRODUCT_CATEGORIES_ID VARCHAR(1000) NULL,
RO_ITEM_PURCHASE_SKU VARCHAR(1000) NULL,
RO_ITEM_SHOW_COLLEGIATE VARCHAR(1000) NULL,
RO_ITEM_SHOW_NASCAR VARCHAR(1000) NULL,
RO_ITEM_SHOW_ONLY_IN_BACKEND VARCHAR(1000) NULL,
RO_ITEM_SITE_CATEGORY_PREFE_ID VARCHAR(1000) NULL,
RO_ITEM_SITE_CATEGORY_SECON_ID VARCHAR(1000) NULL,
RO_ITEM_SKU VARCHAR(1000) NULL,
RO_ITEM_STATE_TAG VARCHAR(1000) NULL,
RO_LICENSED_PROPERTY VARCHAR(1000) NULL,
RO_LICENSING_LAUNCH_DATE VARCHAR(1000) NULL,
RO_LICENSING_ORGANIZATION_ID VARCHAR(1000) NULL,
RO_LICENSING_STATUS VARCHAR(1000) NULL,
RO_MAGSLIDER_LID VARCHAR(1000) NULL,
RO_MINIMUM_PRICE VARCHAR(1000) NULL,
RO_MIN_PRICE_WITH_PREMIUM VARCHAR(1000) NULL,
RO_PREMIUM_EMBELLISHMENT_LICE VARCHAR(1000) NULL,
RO_PRODUCT_COLOR_ID VARCHAR(1000) NULL,
RO_PRODUCT_COLOR_INVENTORY__ID VARCHAR(1000) NULL,
RO_PRODUCT_PROCESS_TYPE_ID VARCHAR(1000) NULL,
RO_PRODUCT_SIZE_ID VARCHAR(1000) NULL,
RO_ROYALTY_RATE VARCHAR(1000) NULL,
RO_SHOW_ONLY_IN_BACKEND_NONIN VARCHAR(1000) NULL,
RO_SOMETHING VARCHAR(1000) NULL,
RO_SORT_ORDER VARCHAR(1000) NULL,
RO_SORT_ORDER_EMBELLISHMENT VARCHAR(1000) NULL,
RO_YETI_MATERIAL_NUMBER VARCHAR(1000) NULL,
SAFETY_STOCK_DAYS VARCHAR(1000) NULL,
SAFETY_STOCK_LEVEL VARCHAR(1000) NULL,
SALESPRICE VARCHAR(1000) NULL,
SALE_UNIT_ID VARCHAR(1000) NULL,
SCRAP_ACCOUNT_ID VARCHAR(1000) NULL,
SERIALIZED_ITEM VARCHAR(1000) NULL,
SHIPPINGCOST VARCHAR(1000) NULL,
SPECIAL_WORK_ORDER_ITEM VARCHAR(1000) NULL,
STOCK_UNIT_ID VARCHAR(1000) NULL,
STOREDESCRIPTION VARCHAR(1000) NULL,
STOREDETAILEDDESCRIPTION VARCHAR(1000) NULL,
STOREDISPLAYNAME VARCHAR(1000) NULL,
SUBTYPE VARCHAR(1000) NULL,
SUPPLY_TIME_FENCE VARCHAR(1000) NULL,
SUPPLY_TYPE VARCHAR(1000) NULL,
TAX_ITEM_ID VARCHAR(1000) NULL,
TOTALVALUE VARCHAR(1000) NULL,
TRANSFERPRICE VARCHAR(1000) NULL,
TYPE_NAME VARCHAR(1000) NULL,
UNBUILD_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
UNITS_TYPE_ID VARCHAR(1000) NULL,
UPC_CODE VARCHAR(1000) NULL,
USE_COMPONENT_YIELD VARCHAR(1000) NULL,
VENDORNAME VARCHAR(1000) NULL,
VENDOR_ID VARCHAR(1000) NULL,
VENDRETURN_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
VSOE_DEFERRAL VARCHAR(1000) NULL,
VSOE_DELIVERED VARCHAR(1000) NULL,
VSOE_DISCOUNT VARCHAR(1000) NULL,
VSOE_PRICE VARCHAR(1000) NULL,
WEIGHT VARCHAR(1000) NULL,
WEIGHT_IN_USER_DEFINED_UNIT VARCHAR(1000) NULL,
WEIGHT_UNIT_INDEX VARCHAR(1000) NULL,
WIP_ACCOUNT_ID VARCHAR(1000) NULL,
WIP_COST_VARIANCE_ACCOUNT_ID VARCHAR(1000) NULL,
WORK_ORDER_LEAD_TIME VARCHAR(1000) NULL,
dw_last_updt datetime Null
)
WITH (DATA_SOURCE = [AzureDataLakeStoreyetidpe3600],LOCATION = N'/hive/warehouse/edw_sz.db/nst_items',FILE_FORMAT = [AzureStorageFormatHiveText],REJECT_TYPE = VALUE,REJECT_VALUE = 0)
;


if object_id('EDW_SZ.NST_Items') is not null begin
Drop TABLE EDW_SZ.NST_Items end;
Create Table EDW_SZ.NST_Items WITH (DISTRIBUTION = ROUND_ROBIN ) AS 
(
Select 
ALLOW_DROP_SHIP,
ALT_DEMAND_SOURCE_ITEM_ID,
ASSET_ACCOUNT_ID,
ATP_LEAD_TIME,
ATP_METHOD,
AVAILABLE_TO_PARTNERS,
AVERAGECOST,
BACKWARD_CONSUMPTION_DAYS,
BILL_EXCH_RATE_VAR_ACCOUNT_ID,
BILL_PRICE_VARIANCE_ACCOUNT_ID,
BILL_QTY_VARIANCE_ACCOUNT_ID,
BUILD_SUB_ASSEMBLIES,
CLASS_ID,
COSTING_METHOD,
COST_0,
COST_CATEGORY,
COST_ESTIMATE_TYPE,
COUNTRY_OF_MANUFACTURE,
CREATED,
CREATE_PLAN_ON_EVENT_TYPE,
CURRENT_ON_ORDER_COUNT,
CUSTRETURN_VARIANCE_ACCOUNT_ID,
DATE_LAST_MODIFIED,
DATE_OF_LAST_TRANSACTION,
DEFAULT_RETURN_COST,
DEFERRED_EXPENSE_ACCOUNT_ID,
DEFERRED_REVENUE_ACCOUNT_ID,
DEMAND_SOURCE,
DEMAND_TIME_FENCE,
DEPARTMENT_ID,
DEPOSIT,
DISPLAYNAME,
DISTRIBUTION_CATEGORY,
DISTRIBUTION_NETWORK,
DO_NOT_SELL,
DROPSHIP_EXPENSE_ACCOUNT_ID,
EFFECTIVE_BOM_CONTROL_TYPE,
EXPENSE_ACCOUNT_ID,
FEATUREDDESCRIPTION,
FEATUREDITEM,
FIXED_LOT_SIZE,
FORWARD_CONSUMPTION_DAYS,
FRAUD_RISK,
FULL_NAME,
FX_ADJUSTMENT_ACCOUNT_ID,
GAIN_LOSS_ACCOUNT_ID,
HANDLING_COST,
HAZMAT,
HAZMAT_HAZARD_CLASS,
HAZMAT_ID,
HAZMAT_ITEM_UNITS,
HAZMAT_ITEM_UNITS_QTY,
HAZMAT_PACKING_GROUP,
HAZMAT_SHIPPING_NAME,
INCLUDE_CHILD_SUBSIDIARIES,
INCOME_ACCOUNT_ID,
INTERCO_EXPENSE_ACCOUNT_ID,
INTERCO_INCOME_ACCOUNT_ID,
INVT_COUNT_CLASSIFICATION,
INVT_COUNT_INTERVAL,
ISINACTIVE,
ISONLINE,
ISTAXABLE,
IS_CONT_REV_HANDLING,
IS_ENFORCE_MIN_QTY_INTERNALLY,
IS_HOLD_REV_REC,
IS_MOSS,
IS_PHANTOM,
IS_SPECIAL_ORDER_ITEM,
ITEM_DEFINED_COST,
ITEM_EXTID,
Cast(CAST(ITEM_ID As Decimal(10,1)) AS Int) AS ITEM_ID,
ITEM_REVENUE_CATEGORY,
LAST_COGS_CORRECTION,
LAST_INVT_COUNT_DATE,
LAST_PURCHASE_PRICE,
LOCATION_ID,
LOT_NUMBERED_ITEM,
LOT_SIZING_METHOD,
MANUFACTURER,
MANUFACTURING_CHARGE_ITEM,
MATCH_BILL_TO_RECEIPT,
MAXIMUM_QUANTITY,
MINIMUM_QUANTITY,
MODIFIED,
MPN,
NAME,
NEXT_INVT_COUNT_DATE,
NS_LEAD_TIME,
OFFERSUPPORT,
ONSPECIAL,
OVERHEAD_TYPE,
PARENT_ID,
PAYMENT_METHOD_ID,
PERIODIC_LOT_SIZE_DAYS,
PERIODIC_LOT_SIZE_TYPE,
PREF_PURCHASE_TAX_ID,
PREF_SALE_TAX_ID,
PREF_STOCK_LEVEL,
PRICES_INCLUDE_TAX,
PRICING_GROUP_ID,
PRINT_SUB_ITEMS,
PROD_PRICE_VAR_ACCOUNT_ID,
PROD_QTY_VAR_ACCOUNT_ID,
--PURCHASEDESCRIPTION,
PURCHASEORDERAMOUNT,
PURCHASEORDERQUANTITY,
PURCHASEORDERQUANTITYDIFF,
PURCHASE_PRICE_VAR_ACCOUNT_ID,
PURCHASE_UNIT_ID,
QUANTITYAVAILABLE,
QUANTITYBACKORDERED,
QUANTITYONHAND,
RECEIPTAMOUNT,
RECEIPTQUANTITY,
RECEIPTQUANTITYDIFF,
REORDERPOINT,
REORDER_MULTIPLE,
REPLENISHMENT_METHOD,
RESALABLE,
RESCHEDULE_IN_DAYS,
RESCHEDULE_OUT_DAYS,
REVENUE_ALLOCATION_GROUP,
REV_REC_FORECAST_RULE_ID,
REV_REC_RULE_ID,
ROUND_UP_AS_COMPONENT,
RO_ART_CATEGORY_ID,
RO_CHECK_AVAILABILITY,
RO_IMGIX_PREVIEW_PARAMS,
RO_INCLUDE_IN_CSV,
RO_IS_PREMADE_EMBELLISHMENT,
RO_ITEM_BASE_KEY,
RO_ITEM_CASE_QUANTITY,
RO_ITEM_FRIENDLY_NAME,
RO_ITEM_IS_PREMIUM,
RO_ITEM_KEY_ID,
RO_ITEM_LICENSING_ART_DESCRIP,
RO_ITEM_MAX_LINES,
RO_ITEM_NASCAR_TAG,
RO_ITEM_OFFSET_TOP,
RO_ITEM_PRINT_RATIO,
RO_ITEM_PRODUCT_CATEGORIES_ID,
RO_ITEM_PURCHASE_SKU,
RO_ITEM_SHOW_COLLEGIATE,
RO_ITEM_SHOW_NASCAR,
RO_ITEM_SHOW_ONLY_IN_BACKEND,
RO_ITEM_SITE_CATEGORY_PREFE_ID,
RO_ITEM_SITE_CATEGORY_SECON_ID,
RO_ITEM_SKU,
RO_ITEM_STATE_TAG,
RO_LICENSED_PROPERTY,
RO_LICENSING_LAUNCH_DATE,
RO_LICENSING_ORGANIZATION_ID,
RO_LICENSING_STATUS,
RO_MAGSLIDER_LID,
RO_MINIMUM_PRICE,
RO_MIN_PRICE_WITH_PREMIUM,
RO_PREMIUM_EMBELLISHMENT_LICE,
RO_PRODUCT_COLOR_ID,
RO_PRODUCT_COLOR_INVENTORY__ID,
RO_PRODUCT_PROCESS_TYPE_ID,
RO_PRODUCT_SIZE_ID,
RO_ROYALTY_RATE,
RO_SHOW_ONLY_IN_BACKEND_NONIN,
RO_SOMETHING,
RO_SORT_ORDER,
RO_SORT_ORDER_EMBELLISHMENT,
RO_YETI_MATERIAL_NUMBER,
SAFETY_STOCK_DAYS,
SAFETY_STOCK_LEVEL,
SALESPRICE,
SALE_UNIT_ID,
SCRAP_ACCOUNT_ID,
SERIALIZED_ITEM,
SHIPPINGCOST,
SPECIAL_WORK_ORDER_ITEM,
STOCK_UNIT_ID,
STOREDESCRIPTION,
STOREDETAILEDDESCRIPTION,
STOREDISPLAYNAME,
SUBTYPE,
SUPPLY_TIME_FENCE,
SUPPLY_TYPE,
TAX_ITEM_ID,
TOTALVALUE,
TRANSFERPRICE,
TYPE_NAME,
UNBUILD_VARIANCE_ACCOUNT_ID,
UNITS_TYPE_ID,
UPC_CODE,
USE_COMPONENT_YIELD,
VENDORNAME,
VENDOR_ID,
VENDRETURN_VARIANCE_ACCOUNT_ID,
VSOE_DEFERRAL,
VSOE_DELIVERED,
VSOE_DISCOUNT,
VSOE_PRICE,
WEIGHT,
WEIGHT_IN_USER_DEFINED_UNIT,
WEIGHT_UNIT_INDEX,
WIP_ACCOUNT_ID,
WIP_COST_VARIANCE_ACCOUNT_ID,
WORK_ORDER_LEAD_TIME,
dw_last_updt

 from EDW_RZ.NST_Items 
);

GO
